	<div class="page-container" style="background-color:white;">
		<div class="header">
			<h1>Let's get to work!</h1>
		</div>
		<p>
			Thank you for stopping by my portfolio and online resume.  I hope it caught your eye.
		</p>
		<h4>Contact me</h4>
		<ul>
			<li>
				<strong>email: </strong><a target="_blank" href="mailto:Boggimedes@gmail.com">Boggimedes@gmail.com</a>
			</li>
			<li>
				<strong>phone: </strong>503-731-7167
			</li>
			<li>
				<strong>Linked In: </strong><a target="_blank" href="https://www.linkedin.com/in/daniel-boggs-b980b016/">https://www.linkedin.com/in/daniel-boggs-b980b016/</a>
			</li>
			<li>
				<strong>Github: </strong><a target="_blank" href="https://github.com/Boggimedes">https://github.com/Boggimedes</a>
			</li>
			<li>
				<strong>Roundpeg: </strong><a target="_blank" href="https://app.roundpegg.com/profile/9e5wygy76t ">https://app.roundpegg.com/profile/9e5wygy76t</a>
			</li>
		</ul>
		<img src="/portfolio/daniel/img/vault-boy.jpg" class="img-responsive" style="max-width:42%;margin:auto"/>
	</div>
