	<div class="page-container resume">
		<h1 style=''>Daniel Boggs</h1>
		<hr>
		<div class="row">
			<div class="col-xs-4">
				Tigard, OR 97224
			</div>
			<div class="col-xs-4">
				email: <a href="mailto:Boggimedes@gmail.com">Boggimedes@gmail.com</a>
			</div>
			<div class="col-xs-4">
				phone: 503-731-7167
			</div>
		</div>
		<h3 class="text-center">Summary</h3>
		<div>
			Someone who knew me well once described me as a problem solving and efficiency expert.  I excel at finding solutions; whether by contracting/collaborating with the proper resources, or using my own technical background and expertise to solve the issue first hand.  I have experience managing teams of up to 20, documenting and analyzing large scale business projects, and personally designing business automation to improve efficiency.  No matter the challenge, I face it head on without hesitation.
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h4>Technical Skills</h4>
				<strong>Advanced/Guru: </strong><span class="color-language">PHP, JavaScript, HTML5/CSS3, SQL, MySQL,</span> <span class="color-software">Windows XP/7/10, Excel, Access</span><br>
				<strong>Experienced: </strong><span class="color-library">AngularJS, jQuery, Bootstrap,</span> <span class="">REST,</span> <span class="color-software">Amazon Web Services, Linux, Office 365, PowerShell, Dynamics AX, SharePoint,</span> <span class="color-language">VBA, PostgreSQL,</span> <span class="color-library">Sugar CRM, CraftCMS,</span> <span class="color-software">Git, Sublime3, npm</span><br>
				<strong>Learning: </strong><span class="color-language">Java, NodeJS,</span> <span class="color-library">Struts2, React, Redux</span> <span class="color-software">Tomcat</span>
			</div>
			<div class="col-sm-6">
				<h4>Non-Technical</h4>
				<p class="resume-paragraph">
					<strong>Leadership: </strong>My style of leadership is the ability to share a vision, to guide others without force toward that vision, and to understand people’s talents to help them reach their full potential.
				</p>
				<p class="resume-paragraph">
					<strong>Collaboration: </strong>I work best in an environment that is highly collaborative and brings people together to create solutions that incorporate many perspectives.
				</p>
			</div>
		</div>
<p><strong>Culture:</strong> Collaboration. Collaborative cultures value synergy and cooperation. Individuals are expected to listen to others' ideas and treat each other with respect.</p>

<p><strong>Personality:</strong> Responder. I have a Responder personality style so I am typically sensitive to interpersonal dynamics and interactions in my environment, thoughtfully taking in and reacting to issues that arise. </p>

<p><strong>Communication:</strong> Developer. I have a Developer communication style so I identify the goal to be achieved, and work with others to develop a plan for achieving it. Developers focus on enlarging the capabilities of others by collaboratively setting goals with others.</p>

<p>View full RoundPegg profile here: <a target="_blank" href="https://app.roundpegg.com/profile/9e5wygy76t">Click Me!</a></p>
	</div>
