	<div class="page-container">
		<div class="header">
			<h1>Hobbies</h1>
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-3 text-center">
				<img class="img-responsive md-3" src="/portfolio/daniel/img/hobby-computergames.png">
				<strong>Computer Games</strong>
			</div>
			<div class="col-xs-4 col-sm-3 text-center">
				<img class="img-responsive" src="/portfolio/daniel/img/hobby-boardgames.png">
				<strong>Board Games</strong>
			</div>
			<div class="col-xs-4 col-sm-3 text-center">
				<img class="img-responsive" src="/portfolio/daniel/img/hobby-books.png">
				<strong>Reading Fiction</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-3 text-center">
				<img class="img-responsive" src="/portfolio/daniel/img/hobby-dogs.png">
				<strong>Dogs</strong>
			</div>
			<div class="col-xs-4 col-sm-3 text-center">
				<img class="img-responsive" src="/portfolio/daniel/img/hobby-movies.png">
				<strong>Movies</strong>
			</div>
			<div class="col-xs-4 col-sm-3 text-center">
				<img class="img-responsive" src="/portfolio/daniel/img/hobby-music.png">
				<strong>Music</strong>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-sm-3 text-center">
				<img class="img-responsive" src="/portfolio/daniel/img/hobby-piano.png">
				<strong>Playing Piano</strong>
			</div>
			<div class="col-xs-4 col-sm-3 text-center">
				<img class="img-responsive" src="/portfolio/daniel/img/hobby-puzzles.png">
				<strong>Puzzles and Brain Teasers</strong>
			</div>
			<div class="col-xs-4 col-sm-3 text-center">
				<img class="img-responsive" src="/portfolio/daniel/img/hobby-science.png">
				<strong>Keeping up with Latest Science</strong>
			</div>
		</div>
	</div>
