	<div class="header">
		<h1>Meet<br>Daniel Boggs</h1>
	</div>
	<div>
		<p>
			So you are looking for a developer?
		</p>
		<p>
			Here you can learn a little about Daniel Boggs.  A talented coder, freestyle underwater basketweaver, and all around nice guy.
		</p>
		<p>
			You can click and drag through the profile pages, or click a link in the table of contents below
		</p>
	</div>
	<div id="toc" class="linklist dintext">
		<ul>
			<p>
				Table of Contents:
			</p>
			<li onclick="gotoPage(2);">
				Resume
			</li>
			<li onclick="gotoPage(4);">
				Coding Projects
			</li>
			<li onclick="gotoPage(6);">
				Hobbies
			</li>
			<li onclick="gotoPage(7);">
				Family
			</li>
		</ul>
	</div>
	<div>
		<h3>User guide:</h3>
		<ul>
			<li>
				Drag the corners or sides,
			</li>
			<li>
				Click/Tap on the corners,
			</li>
			<li>
				Use Keyboard left/right arrows,
			</li>
			<li>
				Enter page number manually.
			</li>
			<li>
				Clicking the corners makes the page flip automatically.
			</li>
			<li>
				Dragging it lets you manually flip with page folding effect.
			</li>
		</ul>
	</div>
	<div class="footertext dintext">
		<p>
			Daniel Boggs / Portfolio / Resume
		</p>
	</div>
