	<div class="page-container resume" style="height: 100%;overflow: auto;">
		<h3>Employment Experience Summary</h3>
		<div class="row">
			<div class="col-sm-6">
				<strong class="lead">Blue Star Sports</strong> <small>(contract)</small>
			</div>
			<div class="col-sm-6 text-right">
				June 2017 - Present
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-xs-2 col-sm-1">
				June 2017 - Present
			</div>
			<div class="col-xs-3 col-sm-2">
				<strong>Full Stack Developer</strong>
			</div>
			<div class="col-xs-7 col-sm-9">
				<ul class="list-bullets">
					<li>
						Working on a large scale, multi-faceted SaaS product with a team of 9 other developers.
					</li>
					<li>
						Daily tasks include bug-fixes and enhancement requests through JIRA
					</li>
					<li>
						<span class="color-software">Git,</span> <span class="color-language">PostgreSQL, PHP, JavaScript,</span> <span class="color-library">jQuery, Backbone, Knockout, React,</span> REST, <span class="color-language">HTML5/CSS3,</span> <span class="color-software">npm, Sublime3</span>
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-6">
				<strong class="lead">InFocus Corporation</strong>
			</div>
			<div class="col-xs-6 text-right">
				May 2006 - June 2017
			</div>
		</div>
		<hr/>
		<div class="row">
			<div class="col-xs-2 col-sm-1">
				2012 - June 2017
			</div>
			<div class="col-xs-3 col-sm-2">
				<strong>Full Stack Developer</strong>
			</div>
			<div class="col-xs-7 col-sm-9">
				<ul class="list-bullets">
					<li class="resume-note-2">
						Designed internal site to organize and document processes and systems
					</li>
					<li class="resume-note-2">
						Developed reporting tools for sales supplying up to date information to the field
					</li>
					<li class="resume-note-2">
						Designed and deployed new InFocus website with custom CMS system
					</li>
					<li class="resume-note-2">
						<span class="color-language">PHP, MySQL, SQL, HTML5/CSS3, JavaScript,</span> REST,<span color="color-library">SQL, jQuery, AngularJS, CraftCMS, Sugar CRM,</span> <span class="color-software">Dynamics AX, SharePoint, PowerShell</span>
					</li>
					<a onclick="$('.resume-note-2').slideToggle()" >&uarr; toggle more/less &darr;</a>
					<li class="resume-note-2" style="display:none">
						Created new internal site for organization and documentation of processes and systems. Used: <span class="color-library">AngularJS</span>, <span class="color-language">HTML5/CSS3</span>, <span class="color-language">MySQL</span>,<span class="color-language"> SQL, PHP, </span><span class="color-library">CraftCMS</span>, <span class="color-software">PowerShell</span>
					</li>
					<li class="resume-note-2" style="display:none">
						Recently completed designing a partner order portal that will link to <span class="color-software">Dynamics AX</span> for order processing. This is highlighting <span class="color-library">AngularJS </span>to present price lists, product catalog, and manage a cart for checkout. <span class="color-language">SQL </span>stored procedures will be used to pull pricing and availability daily to provide up to date information to InFocus partners and resellers. Used: <span class="color-library">AngularJS</span>, <span class="color-language">HTML5/CSS3</span>, <span class="color-language">MySQL</span>,<span class="color-language"> SQL</span>
					</li>
					<li class="resume-note-2" style="display:none">
						Re-designed and deployed new InFocus website (www.infocus.com). Created a custom <span class="color-language">PHP </span>framework for an adaptive website (fully mobile compatible) including a content management system so the site can be maintained and updated by the marketing team. Used: <span class="color-language">PHP</span>, <span class="color-language">HTML5/CSS3S</span>, <span class="color-language">JavaScript, </span>and <span class="color-library">jQuery</span>.
					</li>
					<li class="resume-note-2" style="display:none">
						Completely redesigned the company database and customer registration system enabling live tracking of warranty obligation as well an external interface for customers to check warranty and registration status from the website. Data was moved from proprietary system to a universal MySQL database. Used: <span class="color-language">PHP</span>, <span class="color-language">MySQL</span>, <span class="color-language">HTML5/CSS3</span>, and <span class="color-language">JavaScript</span>.
					</li>
					<li class="resume-note-2" style="display:none">
						Developed internal employee website and partner website with secure SSL login and user system. Tools for order processing and status, internal help desk, knowledge base, and executive reporting. Used: <span class="color-language">PHP</span>, <span class="color-language">HTML/CSS</span>, <span class="color-language">JavaScript</span>, and<span class="color-language"> MySQL.</span>
					</li>
					<li class="resume-note-2" style="display:none">
						Re-developed reporting tools for sales supplying up to date information to the field. These tools automated pulling data from <span class="color-software">Dynamics AX </span>(using a complex set of stored procedures and queries), uploading to <span class="color-language">MySQL</span>, then output to <span class="color-language">HTML/CSS</span> on the internal site, as well as emailed out in spreadsheet form. Used: <span class="color-software">Dynamics AX, </span><span class="color-language">T-SQL</span>, <span class="color-language">MySQL</span>, <span class="color-language">HTML/CSS</span>, <span class="color-language">PHP</span>, <span class="color-library">jQuery</span>, and <span class="color-language">JavaScript</span>.
					</li>
					<li class="resume-note-2" style="display:none">
						Designed automated reporting for the Amazon web-store. Used: <span class="color-language">PHP </span>and <span class="color-language">MySQL</span>.
					</li>
					<li class="resume-note-2" style="display:none">
						Replaced a materials and funding request system with a custom tool build. Tool consisted of several parts. Front end external facing for the sales people to enter claims and requests. These requests would then be routed to the marketing team for approval or escalation. Used: <span class="color-language">PHP</span>, <span class="color-language">HTML/CSS</span>, <span class="color-language">JavaScript</span>, <span class="color-library">AngularJS</span>.
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-2 col-sm-1">
				2009 - 2012
			</div>
			<div class="col-xs-3 col-sm-2">
				<strong>Call Center Supervisor</strong>
			</div>
			<div class="col-xs-7 col-sm-9">
				<ul class="list-bullets">
					<li class="resume-note-3">
						Took the company BBB rating from an F to an A
					</li>
					<li class="resume-note-3">
						Developed custom ticketing system
					</li>
					<li class="resume-note-3">
						Implemented Call Center coverage of internal level 1 &amp; 2 IT issues
					</li>
					<li class="resume-note-3">
						<span class="color-software">Dynamics AX, Access, Excel,</span> <span color="color-language">MySQL, VBA</span>
					</li>
					<a onclick="$('.resume-note-3').slideToggle()" >&uarr; toggle more/less &darr;</a>
					<li class="resume-note-4" style="display:none">
						Designed a full call center CRM tool.  Agents had all product and procedure data no more than 2 clicks away.  Warranty status was checked automatically.  Used Fuzzy logic to locate alternate cases by the same customer. Used: <span class="color-software">Excel, Access,</span> <span color="color-language">VBA, MySQL</span>
					</li>
					<li class="resume-note-3" style="display:none">
						Implemented advanced reporting in Access that parsed data into 15 minute increments and tracked agent workflow, average handle time, and calculated time spent on a per product line basis. Used: <span class="color-software">Access, Excel</span>
					</li>
					<li class="resume-note-3" style="display:none">
						Changed the way customer policy and procedure; taking the company BBB rating from an F to an A+ in less than 1 year.
					</li>
					<li class="resume-note-3" style="display:none">
						Implemented Call Center coverage of internal level 1 &amp; 2 IT issues freeing up the IT department for more advanced issues and upgrades.
					</li>
					<li class="resume-note-3" style="display:none">
						Spearheaded a custom <span class="color-software">Dynamics AX</span> class which linked CRM to order processing.  Overall time savings totaled greater than 40 hours per week.
					</li>
					<li class="resume-note-3" style="display:none">
						Added Chat support to the contact center in order to increase customer contact.
					</li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-2 col-sm-1">
				2006 - 2009
			</div>
			<div class="col-xs-3 col-sm-2">
				<strong>Call Center Lead</strong>
			</div>
			<div class="col-xs-7 col-sm-9">
				<ul class="list-bullets">
					<li class="resume-note-4">
						Managed service issues for the large Pro-AV accounts
					</li>
					<li class="resume-note-4">
						Handled all customer escalations
					</li>
					<li class="resume-note-4">
						<span class="color-software">Dynamics AX, Excel,</span> <span color="color-language">MySQL, VBA</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-9">
				Various Positions in Sales &amp; Customer Support
			</div>
			<div class="col-xs-3 text-right">
				Jul 1997 – Apr 2006
			</div>
		</div>
		<hr/>
		<div style="font-size: small;">
			<ul>
				<li>
					<strong>TC Boggs &amp; Associates:</strong> Managed the office for family owned financial services business
				</li>
				<li>
					<strong>American Intercontinental University:</strong> Outbound Sales for online university 
				</li>
				<li>
					<strong>General Motors:</strong> Team lead in customer support.  Managed extensive cases consisting of initial contact, research of claim, vehicle history and dealership relationship, and final decision on accommodation. 
				</li>
				<li>
					<strong>Future Shop:</strong> Worked as a lead in the computer department in a retail store.   
				</li>
			</ul>
		</div>
	</div>

