	<div class="page-container">
		<div class="header">
			<h1>Coding Projects</h1>
			<p>Click on the options below, or if you prefer, go straight to <a href="https://github.com/Boggimedes" target="_blank">Github</a></p>
		</div>
		<div id="featurelist" class="optionlist" style="font-size:2em">
			<ul>
				<li id="option1" onclick="selectFeature(1);">
					Overview
				</li>
				<li>
					<span id="option2" onclick="selectFeature(2);">Tabletop Gaming SaaS</span>
					<ul>
						<li id="option3" onclick="selectFeature(3);">
							Anbient Noise Player
						</li>
						<li id="option4" onclick="selectFeature(4);">
							World Simulator
						</li>
						<li id="option5" onclick="selectFeature(5);">
							Map Navigator
						</li>
					</ul>
				</li>
				<li id="option6" onclick="selectFeature(6);">
					Image Resizer
				</li>
				<li id="option7" onclick="selectFeature(7);">
					InFocus internal
				</li>
				<li id="option8" onclick="selectFeature(8);">
					InFocus Pricing
				</li>
				<li id="option9" onclick="selectFeature(9);">
					InFocus.com US and Global Sites
				</li>
				<li id="option10" onclick="selectFeature(10);">
					Future Project Ideas
				</li>
			</ul>
		</div>
	</div>
